<div class="upcoming-launch">
  <div class="upcoming-launch__wrapper">
    <div class="upcoming-header">
      <div class="upcoming-header__decoration header-decoration">
        <a aria-label="Back to launches" href="/" class="header-decoration__anchor">
          <svg class="header-decoration__symbol symbol-width-60">
            <g>
              <circle cx="0" cy="30" r="3" stroke="#e2e1e1" fill="#e2e1e1"></circle>
              <circle cx="-40" cy="30" r="90" stroke="#e2e1e1" stroke-width="2" fill="none"></circle>
            </g>
          </svg>
        </a>
      </div>
      <div class="upcoming-header--left">
        <div class="upcoming-header__launch-name">
          <h1 class="upcoming-header__text upcoming-header__text--name">{{data.launches.[0].name}}</h1>
        </div>
      </div>
      <div class="upcoming-header--right">
        <div class="upcoming-header__date">
          <h2 class="upcoming-header__text upcoming-header__text--date">{{data.launches.[0].windowstart}}</h2>
        </div>
        <div class="upcoming-header__timer">
          <h2 class="upcoming-header__text upcoming-header__text--countdown"></h2>
        </div>
      </div>
      <div class="upcoming-header--bottom">
        <a aria-label="More Information" href="/launches/{{data.launches.[0].id}}" class="more-information"><span>More
            Information</span></a>
      </div>
    </div>
    <div class="upcoming-body">
      <div class="upcoming-body__data">
        <div class="upcoming-component upcoming-component__provider">
          <label for="provider" class="upcoming-component__label">Provider</label>
          <div class="upcoming-component__info">
            {{#if data.launches.[0].lsp.wikiURL}}
            <a aria-label="Launch provider wiki" rel="noopener" href="{{data.launches.[0].lsp.wikiURL}}" class="upcoming-component__text upcoming-component__wiki"
              name="provider" target="_blank">{{data.launches.[0].lsp.name}}</a>
            {{else}}
            <h3 class="upcoming-component__text upcoming-component__wiki--disabled" name="provider">{{data.launches.[0].lsp.name}}</h3>
            {{/if}}
          </div>
        </div>
        <div class="upcoming-component upcoming-component__rocket">
          <label for="rocket" class="upcoming-component__label">Rocket</label>
          <div class="upcoming-component__info">
            {{#if data.launches.[0].rocket.wikiURL}}
            <a aria-label="Launch rocket wiki" rel="noopener" href="{{data.launches.[0].rocket.wikiURL}}" class="upcoming-component__text upcoming-component__wiki"
              name="rocket" target="_blank">{{data.launches.[0].rocket.name}}</a>
            {{else}}
            <h3 class="upcoming-component__text upcoming-component__wiki upcoming-component__wiki--disabled" name="rocket">{{data.launches.[0].rocket.name}}</h3>
            {{/if}}
          </div>
        </div>
        <div class="upcoming-component upcoming-component__livestream">
          <label for="livestream" class="upcoming-component__label">Livestream</label>
          <div class="upcoming-component__info">
            <h4 class="livestream upcoming-component__text">Livestream is
              {{#if data.launches.[0].vidURLs}}
              <a aria-label="Livestream link" rel="noopener" href="{{data.launches.[0].vidURLs.[0]}}" class="livestream__link">available</a>
              {{else}}
              <a aria-label="Livestream link unavailable" class="livestream__link livestream__link--unavailable">unavailable</a>
              {{/if}}
            </h4>
          </div>
        </div>
        <div class="upcoming-component upcoming-component__mission">
          <label for="mission" class="upcoming-component__label">Mission</label>
          {{#if data.launches.[0].missions}}
          <div class="upcoming-component__info upcoming-component__mission upcoming-mission">
            <div class="upcoming-component__text upcoming-mission__text">
              <h2 class="upcoming-mission__name">{{data.launches.[0].missions.[0].name}}</h2>
              <h3 class="upcoming-mission__type">for {{data.launches.[0].missions.[0].typeName}}</h3>
              <h4 class="upcoming-mission__desc">{{data.launches.[0].missions.[0].description}}</h4>
            </div>
          </div>
          {{else}}
          <div class="upcoming-component__info upcoming-component__mission upcoming-component__mission--no-mission upcoming-mission">
            <h1 class="upcoming-component__no-mission">No Mission Available</h1>
          </div>
          {{/if}}
        </div>
      </div>
      <div class="upcoming-body__location">
        <span class="upcoming-body__location--pad" hidden>{{data.launches.[0].location.pads.[0].name}}</span>
        <span class="upcoming-body__location--name" hidden>{{data.launches.[0].location.name}}</span>
        <span class="upcoming-body__location--lat" hidden>{{data.launches.[0].location.pads.[0].latitude}}</span>
        <span class="upcoming-body__location--lng" hidden>{{data.launches.[0].location.pads.[0].longitude}}</span>
        <div class="map" name="location">
          <div class="upcoming-map" id="map"></div>
        </div>
      </div>
      <div class="more-information more-information--mobile">
        <a aria-label="More information" href="/launches/{{data.launches.[0].id}}" class="more-information"><span>More
            Information</span></a>
      </div>
    </div>
  </div>
</div>
<div class="upcoming-expand upcoming-expand--unset">
  <button aria-label="Expand launch information" class="upcoming-expand__button">
    <svg class="upcoming-expand__down-arrow">
      <polyline points="0,4 25,24 50,4" fill="none" stroke="#8c8b8b" stroke-width="5"></polyline>
    </svg>
  </button>
</div>
<div class="upcoming-collapse upcoming-collapse--hidden">
  <button aria-label="Collapse launch information" class="upcoming-collapse__button">
    <svg class="upcoming-expand__down-arrow">
      <polyline points="0,26 25,6 50,26" fill="none" stroke="#8c8b8b" stroke-width="5"></polyline>
    </svg>
  </button>
</div>
<div class="launches">
  <div class="launches__fields">
    <div class="launches__field launches__field--date">
      <h3 class="field field-date">Date</h3>
    </div>
    <div class="launches__field launches__mission">
      <h3 class="field field-mission">Mission</h3>
    </div>
    <div class="launches__field launches__provider">
      <h3 class="field field-provider">Provider</h3>
    </div>
    <div class="launches__field launches__location">
      <h3 class="field field-location">Location</h3>
    </div>
  </div>
  {{#each data.launches}}
  <a aria-label="Launch with id {{id}}" href="/launches/{{id}}" class="launch launch-{{@index}}">
    <div class="launch__date">
      <div class="launch__datetime" hidden>{{windowstart}}</div>
      <h4 class="launch__month-day launch__text"></h4>
    </div>
    <div class="launch__mission launch__component">
      <h4 class="launch__text ellipses-overflow" title="{{name}}">{{name}}</h4>
    </div>
    <div class="launch__provider launch__component">
      <h4 class="launch__text ellipses-overflow" title="{{lsp.name}}">{{lsp.name}}</h4>
    </div>
    <div class="launch__location launch__component">
      <h4 class="launch__text ellipses-overflow" title="{{location.name}}">{{location.name}}</h4>
    </div>
  </a>
  {{/each}}
</div>
<div class="load-more">
  <button aria-label="Load more launches" class="load-more__button">Load More</button>
</div>

<script src="/scripts/bundle.js"></script>