<div class="upcoming-launch">
  <div class="upcoming-header">
    <div class="upcoming-header__decoration header-decoration">
      <a href="/" class="header-decoration__anchor">
        <svg class="header-decoration__symbol symbol-width-60">
          <g>
            <circle cx="0" cy="30" r="3" stroke="#e2e1e1" fill="#e2e1e1"></circle>
            <circle cx="-40" cy="30" r="90" stroke="#e2e1e1" stroke-width="2" fill="none"></circle>
          </g>
        </svg>
      </a>
    </div>
    <div class="upcoming-header--left">
      <div class="upcoming-header__launch-name">
        <h1 class="upcoming-header__text upcoming-header__text--name">{{data.launches.[0].name}}</h1>
      </div>
    </div>
    <div class="upcoming-header--right">
      <div class="upcoming-header__date">
        <h2 class="upcoming-header__text upcoming-header__text--date">{{data.launches.[0].windowstart}}</h2>
      </div>
      <div class="upcoming-header__timer">
        <h2 class="upcoming-header__text upcoming-header__text--countdown"></h2>
      </div>
    </div>
    <div class="upcoming-header--bottom">
      <a href="/launches/{{data.launches.[0].id}}" class="more-information more-information--expand"><span>More
          Information</span></a>
    </div>
  </div>
  <div class="upcoming-expand">
    <button class="upcoming-expand__button">
      <svg class="upcoming-expand__down-arrow">
        <polygon points="16,6 26,6 26,21 36,21 21,36 6,21 16,21" fill="#b0b1b3" filter="none"></polygon>
      </svg>
    </button>
  </div>
  <div class="upcoming-body">
    <div class="upcoming-body__data">
      <div class="upcoming-component upcoming-component__provider">
        <label for="provider" class="upcoming-component__label">Provider</label>
        <div class="upcoming-component__info">
          {{#if data.launches.[0].lsp.wikiURL}}
          <a href="{{data.launches.[0].lsp.wikiURL}}" class="upcoming-component__text upcoming-component__wiki" name="provider"
            target="_blank">{{data.launches.[0].lsp.name}}</a>
          {{else}}
          <h3 class="upcoming-component__text upcoming-component__wiki--disabled" name="provider">{{data.launches.[0].lsp.name}}</h3>
          {{/if}}
        </div>
      </div>
      <div class="upcoming-component upcoming-component__rocket">
        <label for="rocket" class="upcoming-component__label">Rocket</label>
        <div class="upcoming-component__info">
          {{#if data.launches.[0].rocket.wikiURL}}
          <a href="{{data.launches.[0].rocket.wikiURL}}" class="upcoming-component__text upcoming-component__wiki" name="rocket"
            target="_blank">{{data.launches.[0].rocket.name}}</a>
          {{else}}
          <h3 class="upcoming-component__text upcoming-component__wiki upcoming-component__wiki--disabled" name="rocket">{{data.launches.[0].rocket.name}}</h3>
          {{/if}}
        </div>
      </div>
      <div class="upcoming-component upcoming-component__mission">
        <label for="mission" class="upcoming-component__label">Mission</label>
        {{#if data.launches.[0].missions}}
        <div class="upcoming-component__info upcoming-mission">
          <div class="upcoming-component__text upcoming-mission__text">
            <h2 class="upcoming-mission__name">{{data.launches.[0].missions.[0].name}}</h2>
            <h3 class="upcoming-mission__type">{{data.launches.[0].missions.[0].typeName}}</h3>
            <h4 class="upcoming-mission__desc">{{data.launches.[0].missions.[0].description}}</h4>
          </div>
        </div>
        {{else}}
        <div class="upcoming-component__mission upcoming-component__mission--no-mission">
          <h1 class="upcoming-component__no-mission">No Mission Available</h1>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="upcoming-body__location">
      <span class="upcoming-body__location--pad" hidden>{{data.launches.[0].location.pads.[0].name}}</span>
      <span class="upcoming-body__location--name" hidden>{{data.launches.[0].location.name}}</span>
      <span class="upcoming-body__location--lat" hidden>{{data.launches.[0].location.pads.[0].latitude}}</span>
      <span class="upcoming-body__location--lng" hidden>{{data.launches.[0].location.pads.[0].longitude}}</span>
      <div class="upcoming-map--desktop" id="map-desktop"></div>
      <div class="upcoming-component map-component">
        <label for="location" class="upcoming-component__label">Location</label>
        <div class="upcoming-component__text" name="location">
          <div class="upcoming-map--mobile" id="map-mobile"></div>
        </div>
      </div>
      {{#if data.launches.[0].vidURLs}}
      <div class="livestream">
        <a class="livestream__button" target="_blank" href="{{data.launches.[0].vidURLs.[0]}}">Watch
          Livestream</a>
      </div>
      {{else}}
      <div class="livestream livestream--disabled">
        <a class="livestream__button livestream__button--disabled">Livestream Unavailable</a>
      </div>
      {{/if}}
    </div>
  </div>
  <div class="upcoming-collapse">
    <div class="upcoming-collapse__more-information">
      <a href="/launches/{{data.launches.[0].id}}" class="more-information more-information--collapse" href="#"><span>More
          Information</span></a>
    </div>
    <button class="upcoming-collapse__button">
      <svg class="upcoming-expand__down-arrow" transform="rotate(180)">
        <defs>
          <linearGradient id="grad-collapse" x1="100%" y1="0%" x2="0%" y2="0%" spreadMethod="pad">
            <stop offset="0%" stop-color="#af5300" stop-opacity="1" />
            <stop offset="100%" stop-color="#f5851f" stop-opacity="1" />
          </linearGradient>
        </defs>
        <polygon points="16,6 26,6 26,21 36,21 21,36 6,21 16,21" fill="url(#grad-collapse)" filter="none"></polygon>
      </svg>
    </button>
  </div>
  {{!-- <div class="side-decoration"></div> --}}
</div>
<div class="launches----test">
  <div class="launches__fields">
    <div class="launches__field--date">
      <h3 class="field field-date">Date</h3>
    </div>
    <div class="launches__field launches__mission">
      <h3 class="field field-mission">Mission</h3>
    </div>
    <div class="launches__field launches__provider">
      <h3 class="field field-provider">Provider</h3>
    </div>
    <div class="launches__field launches__location">
      <h3 class="field field-location">Location</h3>
    </div>
  </div>
  {{#each data.launches}}
  <div class="launch----test launch-{{@index}}----test">
    <div class="launch__date----test">
      <div class="launch__datetime" hidden>{{windowstart}}</div>
      <div class="launch__month">
        <h4 class="date-text">JAN</h4>
      </div>
      <div class="launch__day">
        <h4 class="date-text">13</h4>
      </div>
    </div>
    <div class="launch__mission----test launch__component----test">
      <h4 class="launch__text" title="{{name}}">{{name}}</h4>
    </div>
    <div class="launch__provider----test launch__component----test">
      <h4 class="launch__text" title="{{lsp.name}}">{{lsp.name}}</h4>
    </div>
    <div class="launch__location----test launch__component----test">
      <h4 class="launch__text" title="{{location.name}}">{{location.name}}</h4>
    </div>
  </div>
  {{/each}}
</div>
<div class="launches">
  {{#each data.launches}}
  <div class="launch launch-{{@index}}">
    <div class="side-decoration"></div>
    <div class="launch__header">
      <h3 class="launch__top    launch__left  launch__text launch__title">{{name}}</h3>
      <h3 class="launch__bottom launch__left  launch__text launch__date">{{windowstart}}</h3>
      <h3 class="launch__top    launch__right launch__text launch__provider">{{lsp.name}}</h3>
      <h3 class="launch__bottom launch__right launch__text launch__location">{{location.name}}</h3>
      <button class="launch__dropdown">
        <svg class="down-arrow">
          <defs>
            <!-- Linear Gradient def -->
            <linearGradient id="grad-mob" x1="100%" y1="0%" x2="0%" y2="0%" spreadMethod="pad">
              <stop offset="0%" stop-color="#af5300" stop-opacity="1" />
              <stop offset="100%" stop-color="#f5851f" stop-opacity="1" />
            </linearGradient>
            <!-- Made using: https://stackoverflow.com/questions/6088409/svg-drop-shadow-using-css3 -->
            <filter id="dropshadow-mob" height="130%">
              <feGaussianBlur in="SourceAlpha" stdDeviation="3" /> <!-- stdDeviation is how much to blur -->
              <feOffset dx="2" dy="2" result="offsetblur" /> <!-- how much to offset -->
              <feComponentTransfer>
                <feFuncA type="linear" slope="0.5" /> <!-- slope is the opacity of the shadow -->
              </feComponentTransfer>
              <feMerge>
                <feMergeNode /> <!-- this contains the offset blurred image -->
                <feMergeNode in="SourceGraphic" /> <!-- this contains the element that the filter is applied to -->
              </feMerge>
            </filter>
          </defs>
          <polygon class="down-arrow__symbol" id="down-arrow" points="16,6 26,6 26,21 36,21 21,36 6,21 16,21" fill="#b0b1b3"
            filter="none"></polygon>
        </svg>
      </button>
      <a href="/launches/{{id}}" class="launch__button">
        <svg class="right-arrow">
          <defs>
            <!-- Linear Gradient def -->
            <linearGradient id="grad-desk" x1="0%" y1="0%" x2="100%" y2="0%" spreadMethod="pad">
              <stop offset="0%" stop-color="#af5300" stop-opacity="1" />
              <stop offset="100%" stop-color="#f5851f" stop-opacity="1" />
            </linearGradient>
            <!-- Made using: https://stackoverflow.com/questions/6088409/svg-drop-shadow-using-css3 -->
            <filter id="dropshadow-desk" height="130%">
              <feGaussianBlur in="SourceAlpha" stdDeviation="3" /> <!-- stdDeviation is how much to blur -->
              <feOffset dx="2" dy="2" result="offsetblur" /> <!-- how much to offset -->
              <feComponentTransfer>
                <feFuncA type="linear" slope="0.5" /> <!-- slope is the opacity of the shadow -->
              </feComponentTransfer>
              <feMerge>
                <feMergeNode /> <!-- this contains the offset blurred image -->
                <feMergeNode in="SourceGraphic" /> <!-- this contains the element that the filter is applied to -->
              </feMerge>
            </filter>
          </defs>
          <polygon class="right-arrow__symbol" id="right-arrow" points="24,4 44,24 24,44 24,34 4,34 4,14 24,14" fill="#b0b1b3"
            filter="none"></polygon>
        </svg>
      </a>
    </div>
    <div class="launch__body">
      <div class="launch__name--mobile launch__info">
        <label for="name">Name</label>
        <h3 class="launch__subtext" name="name">{{name}}</h3>
      </div>
      <div class="launch__date--mobile launch__info">
        <label for="date">Date</label>
        <h3 class="launch__subtext" name="date">{{windowstart}}</h3>
      </div>
      <div class="launch__provider--mobile launch__info">
        <label for="provider">Provider</label>
        <h3 class="launch__subtext" name="provider">{{lsp.name}}</h3>
      </div>
      <div class="launch__location--mobile launch__info">
        <label for="location">Location</label>
        <h3 class="launch__subtext" name="location">{{location.name}}</h3>
      </div>
      <a href="/launches/{{id}}" class="launch__button--mobile"><span>More Information</span></a>
    </div>
  </div>
  {{/each}}
</div>
<div class="load-more">
  <button class="load-more__button">Load More</button>
</div>

<script src="/scripts/bundle.js"></script>